@import "../Styles/variables.scss";

.Home {
  .hero {
    background-color: $gray;
    color: $white;
    text-align: center;

    &--loremipsum {
      text-align: start;
      padding-left: 20px;
    }

    &--image {
      img {
        max-width: 70vw;
      }
    }

    &--text {
      max-width: 600px;
      margin: 0 auto;

      .hero__presentation,
      .hero__catchphrase {
        padding: 10px;
      }

      .hero__info {
        padding: 30px 10px 10px 10px;
      }
    }

    &__scroll {
      cursor: pointer;

      .hero__scrolltext {
        padding: 10px;
      }

      .hero__scrollarrow {
        margin: 0 auto;

        img {
          max-width: 20px;
        }
      }
    }
  }

  .info {
    background-color: $white;

    &--grid {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin: 0 auto;
      text-align: center;
      max-width: 60vw;

      @media screen and (max-width: $lg) {
        max-width: 80vw;
      }

      @media screen and (max-width: $sm) {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
      }
    }
  }

  .signup {
    background-color: $red;
    color: $white;

    &--headers {
      h2 {
        margin: 0 auto;
        max-width: 350px;
      }

      h4 {
        padding-top: 10px;
        font-weight: 300;
      }
    }

    &--prize {
      img {
        max-width: 100px;
      }
    }
  }
}
